@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

table.rt-board,.rt-faq-list,.rt-gallery-wrap,.media_list{font-family: 'Nanum Gothic', sans-serif;}

table{border-spacing:0;border-collapse:collapse;font-size:15px;word-break:break-all;}
em,address,var {font-style: normal;}
input, textarea, button {vertical-align: middle;outline:none;border:0;font-family:'SECGCWL'}

/* 공통 */
.rt-text-group{color:#3cb0be !important;}
.clearfix:after{display:block;clear:both;content:"";}

/* 게시판 리스트 */
.rt-board-wrap{width:100%;font-size:14px;word-break:break-all;}
.rt-board-wrap table.rt-board-list{width:100%;font-weight:normal;margin-bottom:30px;}
.rt-board-wrap .rt-board-list tr:nth-child(1){border-top:1px dashed #ddd;}
.rt-board-wrap .rt-board-list tr:hover{background-color:#f1f1f1;}
.rt-board-wrap .rt-board-list tr td{padding:15px 0;line-height:180%;font-size:14px;border-bottom:1px dashed #ddd;}
.rt-board-wrap .rt-board-list tr td.rt-img-box{padding-right:5px;}
.rt-board-wrap .rt-board-list tr td a.rt-title{color:#666;margin-left:5px;}
.rt-board-wrap .rt-board-list tr td img{vertical-align:middle;}
.rt-board-wrap .rt-board-list tr td h1.rt-toggle-wrap{display:none;text-indent:5px;font-size:15px;color:#666;padding:10px 0;background-color:#f1f1f1;letter-spacing:0px;font-weight:500;}
.rt-board-wrap .rt-board-list tr td h1.rt-toggle-wrap input{width:84px;height:24px;margin-right:6px;padding-left:3px;box-sizing:border-box;background-color:#fff;}
.rt-board-wrap .rt-board-list tr td h1.rt-toggle-wrap strong{letter-spacing:-5px}
.rt-board-wrap .rt-board-list tr td h1.rt-toggle-wrap input.rt-submit{display:inline-block;width:30px;height:auto;margin:0;line-height:150%;font-size:13px;text-indent:0;text-align:center;cursor:pointer;text-decoration:none;border:1px solid transparent;border-color:rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.18);border-radius:2px;outline:0;white-space:nowrap;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);background-repeat:repeat-x;background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none; background-color:#555;color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);}
.rt-board-wrap .rt-board-list tr > td > a > img{margin-right:5px;}
.rt-board-wrap .rt-board-list tr td p.rt-data-box{margin-top:8px;}
.rt-board-wrap .rt-board-list tr td p.rt-data-box span.rt-data{display:inline-block;border-left:1px solid #ddd;color:#888;padding:0 5px;font-size:12px;margin-bottom:6px;line-height:150%;}
.rt-board-wrap .rt-board-list tr td p.rt-data-box span.rt-qna{display:inline-block;background-color:#a6a6a6;padding:0 5px;font-size:12px;margin-bottom:6px;line-height:150%;color:#fff;vertical-align:bottom;}

/* 게시판 뷰 */
.rt-board-wrap table.rt-board-view{width:100%;font-weight:normal;overflow:hidden;}
.rt-board-wrap .rt-board-view thead tr{border-bottom:1px solid #ddd;border-top:2px solid #444;background-color:#f7f7f7;color:#444;}
.rt-board-wrap .rt-board-view thead tr td{padding:15px;}
.rtViewCon{padding:30px 10px;text-align:left;color:#333;border-bottom:1px solid #ddd;box-sizing:border-box;}
.rtViewCon p{line-height:150%;}
.rtViewCon img{max-width:100%;}
.rt-board-wrap .rt-board-view tr td p.rt-title{font-weight:bold;}
.rt-board-wrap .rt-board-view tr td p.rt-data-box{margin-top:8px;}
.rt-board-wrap .rt-board-view tr td p.rt-data-box span.rt-data{display:inline-block;border-left:1px solid #ddd;color:#888;padding:0 5px;font-size:12px;margin-bottom:6px;line-height:150%;}
.rt-board-wrap .rt-board-view tr.rt-file-wrap td{padding:10px 0}
.rt-board-wrap .rt-board-view tr.rt-file-wrap:last-child{border-bottom:1px solid #ddd;}

/* 게시판 폼 */
.rt-board-wrap .rt-board-container .rt-info-required{font-size:20px;color:#333;margin-bottom:20px;}
.rt-board-wrap .rt-board-container .rt-info-required span{float:right;font-size:12px;}
.rt-board-wrap .rt-board-container .rt-board-form{margin-bottom:50px;}
.rt-board-wrap .rt-board-container .rt-board-form tr th{color:#444;font-size:14px;font-weight:700;text-align:left;padding:12px 0 12px 8px;background:#f8f8f8;}
.rt-board-wrap .rt-board-container .rt-board-form tr td{border-bottom:1px dashed #cfcfcf;padding:12px; 0;}
.rt-board-wrap .rt-board-container .rt-board-form tr td .rt-common-field,.rt-board-wrap .rt-board-container .rt-board-form tr td select{margin-bottom:4px;padding:12px 0 12px 12px;box-sizing:border-box;display:block;width:100% ;height:auto ;border:1px solid #eee;background-color:#fff;color:#777; border-radius: 5px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}

/* 페이지네이션 */
div.rt-page-index{text-align:center;margin:30px 0;}
div.rt-page-index a{display:inline-block;width:30px;height:28px;line-height:28px;font-size:15px;background-color:#cecece;color:#fff;border:1px solid #cecece;font-family:'dotum';}
div.rt-page-index a:hover,
div.rt-page-index a:focus,
div.rt-page-index a.on{background-color:#393939;border:1px solid #393939;}
div.rt-page-index a.prev,
div.rt-page-index a.next{border:1px solid #ccc;background-color:#fff;color:#393939;font-size:16px;letter-spacing:-2.5px;}
div.rt-page-index a.prev:hover,
div.rt-page-index a.next:hover{background-color:#f3f3f3;}

/* 게시판 뷰 댓글 폼 */
.rt-rwd-reply-wrap{background-color:#f3f6f7;padding:15px;border-bottom:2px solid #ddd;margin-bottom:30px;}
.rt-rwd-reply-wrap *{box-sizing:border-box;}
.rt-rwd-reply-form-wrap{margin-top:10px;}
.rt-rwd-reply-form-wrap .rt-rwd-reply-form-user{float:left;width:50%;font-size:13px;color:#333;line-height:30px;font-weight:400;margin-bottom:10px;}
.rt-rwd-reply-form-user-left{padding-right:5px;}
.rt-rwd-reply-form-user-right{padding-left:5px;}
.rt-rwd-reply-form-user .rt-rwd-reply-user{width:100%;height:30px;line-height:30px;font-family: inherit; font-size: inherit;font-size:12px !important;font-weight:300;padding:0 0 0 3px;border:1px solid #ddd;}
.rt-rwd-reply-form-con{position:relative;}
.rt-rwd-reply-form-con .rt-rwd-reply-form{width:100%;height:75px;line-height:18px;font-family: inherit; font-size: inherit;font-size:12px !important;font-weight:300;border:1px solid #ddd;padding:10px 75px 5px 5px;}
.rt-rwd-reply-form-con .rt-rwd-reply-send{display:block;width:75px;height:100%;position:absolute;right:0;top:0;border:1px solid #ddd;background-color:#fff;padding-left:10px;}
.rt-rwd-reply-form-con .rt-rwd-reply-send:hover{-webkit-box-shadow:inset 0 0px 10px rgba(0, 0, 0, 0.125);box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.125);}
.rt-rwd-reply-form-con .rt-rwd-reply-send span{display:block;line-height:75px;background-size:18px;padding-left:10px;color:#7d7d7d;font-size:14px;text-align:center;}
.rt-rwd-reply-toggle{display:none;}
/* 게시판 뷰 댓글 리스트 */
.rt-rwd-reply-list-con{padding-top:15px;margin-top:15px;border-top:1px dashed #ddd;word-break:break-all;}
.rt-rwd-reply-id{color:#333;font-size:16px;line-height:25px;}
.rt-rwd-reply-id .rt-rwd-reply-delete{float:right;color:#333;font-size:14px;line-height:25px;width:50px;text-align:center;}
.rt-rwd-reply-id .rt-rwd-reply-like{float:right;color:#333;font-size:14px;line-height:25px;width:100px;text-align:center;}
.rt-rwd-reply-id .rt-rwd-reply-like img{margin-right:5px;}
.rt-rwd-reply-delete-password-wrap{width:100%;text-align:right;font-size:0;display:none;margin:10px 0;}
.rt-rwd-reply-delete-password-form{display:inline-block;position:relative;}
.rt-rwd-reply-delete-password{width:200px;height:30px;line-height:30px;font-family: inherit; font-size: inherit;font-size:12px !important;font-weight:300;padding:0 55px 0 3px;border:1px solid #ddd;}
.rt-rwd-reply-delete-password-send{display:block;width:50px;height:30px;line-height:30px;position:absolute;right:0;top:0;border:1px solid #ddd;background-color:#fff;color:#7d7d7d;font-size:12px;text-align:center;}
.rt-rwd-reply-delete-password-cancle{display:inline-block;width:50px;height:30px;line-height:30px;border:1px solid #ddd;background-color:#fff;color:#7d7d7d;font-size:12px;text-align:center;vertical-align:middle;border-left:0;}
.rt-rwd-reply-date{font-size:12px;color:#999;line-height:20px;}
.rt-rwd-reply-substance{padding:10px 0;color:#7d7d7d;font-size:14px;line-height:160%;}
.rt-rwd-reply-comment{display:inline-block;padding:6px 8px;text-align:center;height:24px;border:1px solid #ddd;background-color:#fff;color:#333;font-size:11px;}
.rt-rwd-reply-comment:hover{color:#fff;background-color:#333;}
.rt-rwd-reply-comment .rt-rwd-reply-comment-num{color:red;}
.rt-rwd-reply-comment:hover .rt-rwd-reply-comment-num{color:#fff;}
/* 게시판 뷰 답글 */
.rt-rwd-reply-comment-wrap{padding-left:20px;}
.rt-rwd-reply-comment-con{border-left:1px solid #ddd;padding:10px 0 10px 10px;}
.rt-rwd-reply-form-tit{display:none;}
.rt-rwd-reply-writer .rt-rwd-reply-writer-con span{display:block;}
.rt-rwd-reply-writer .rt-rwd-reply-writer-con input{margin-left:0;}

/* FAQ */
.rt-faq-list{border-top:2px solid #333; margin-top:15px 0; font-size:14px;}
.rt-faq-list > li{border-bottom:1px solid #ccc;} 
.rt-faq-list .faq_q{min-height:12px;color:#333; line-height:20px; letter-spacing:-0.1px; cursor:pointer;}
.rt-faq-list .faq_q span.ico{display: inline-block;height: 100%;padding: 15px 20px 15px 20px;background-color: #7d99cf;color: #fff;font-size:18px;}
.rt-faq-list .faq_a{border-top:1px dotted #ccc; padding:20px 10px 30px 70px; min-height:15px;background-color:#f9f9f9; line-height:18px; color:#777; letter-spacing:-0.1px; font-size:13px;position:relative;}
.rt-faq-list .faq_a span.ico{display:block;position:absolute;left:5px;top:20px;font-size:18px;font-weight:800;}

/* 이용약관 */
.rt-join-wrap .rt-join-container .rt-agree-wrap{padding:4px 0;border-bottom:1px solid #d5d5d5;height:230px;margin-bottom:20px;}
.rt-join-wrap .rt-join-container .rt-agree-box{width:100%;height:100%;color:#777;line-height:160%;padding:0;border:0;}
.rt-join-wrap .rt-join-container .rt-agree-check{margin-bottom:30px;text-align:right;}
.rt-join-wrap .rt-join-container .rt-agree-check input{float:none;width:18px;height:18px;border:1px solid rgb(200,199,199);background:0px 0px rgb(255,255,255);}
.rt-join-wrap .rt-join-container .rt-agree-check span{font-size:14px;}
.rt-join-wrap .rt-join-container .rt-all-agree{text-align:center;font-size:15px;margin-bottom:30px;}
.rt-join-wrap .rt-join-container .rt-all-agree input{float:none;}

/* 검색폼 */
.rt-search{margin-bottom:20px;}
.rt-search input,.rt-search select,.rt-search > a{width:100%;margin-bottom:10px;border:1px solid #ddd;padding:6px 0 6px 5px;box-sizing:border-box;}
.rt-search form > a{padding:8px 0;display:block;text-align:center;cursor:pointer;text-decoration:none;border:1px solid transparent;border-color:rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.18);border-radius:2px;outline:0;white-space:nowrap;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);background-repeat:repeat-x;background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none; background-color:#555;color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);}

/* 글쓰기 버튼 */
.rt-button-wrap .rt-write{width:100%;}
.rt-button-wrap .rt-write a{display:inline-block;line-height:150%;padding:6px 0px;font-size:13px;text-align:center;cursor:pointer;text-decoration:none;border:1px solid transparent;border-color:rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.18);border-radius:2px;outline:0;white-space:nowrap;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);background-repeat:repeat-x;background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none; background-color:#555;color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);width:60px;float:right;margin: 0 5px;}
.rt-button-wrap2{padding:20px 0}
.rt-button-wrap2 a{display:inline-block;line-height:150%;padding:6px 0px;font-size:13px;text-align:center;cursor:pointer;text-decoration:none;border:1px solid transparent;border-color:rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.18);border-radius:2px;outline:0;white-space:nowrap;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);background-repeat:repeat-x;background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none; background-color:#555;color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);width:60px;float:right;margin:0 2px}
.rt-button-wrap2 a.btn{display:block;float:left;font-weight:bold;width:35px;margin-right:5px;}
.btn_cnt_area{padding:20px 0;background-color:#f8f8f8;border-top:2px solid #444;text-align:center;margin-bottom:20px;}
a.rt-button-a-2 {display:inline-block;line-height:150%;padding:6px 0px;font-size:13px;text-align:center;cursor:pointer;text-decoration:none;border:1px solid transparent;border-color:rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.18);border-radius:2px;outline:0;white-space:nowrap;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);background-repeat:repeat-x;background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none; background-color:#555;color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);width:60px;margin: 0 5px;}

/* 포토갤러리 */
.rt-gallery-wrap{width:100%;height:auto;overflow:hidden; border-top:2px solid #333;  border-bottom:1px solid #eee; margin-bottom:50px;}
.rt-gallery-wrap li{float:left; margin:10px 0;}
.rt-gallery-wrap li.pl0{padding-left:0;}
.rt-gallery-wrap li a{display:block;width:100%;}
.rt-gallery-wrap li a:hover{opacity:0.8;/* IE 8 */-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";/* IE 5-7 */filter: alpha(opacity=80);/* Netscape */-moz-opacity: 0.8;/* Safari 1.x */-khtml-opacity: 0.8;}
.rt-gallery-wrap li span.rt-gallery-date{line-height:30px;color:#555;}
.rt-gallery-wrap li a.rt-gallery-title{color:#333;font-weight:700;margin-bottom:20px; font-size:15px; letter-spacing:-1px;}
.rt-gallery-wrap li a img{width:100%;}
.rt-gallery-1 li{width:100%;}
.rt-gallery-2 li{width:47%;padding-left:6%;}
.rt-gallery-3 li{width:31%;padding-left:3.5%;}
.rt-gallery-4 li{width:22.75%;padding-left:3%;}
.rt-gallery-5 li{width:18%;padding-left:2.5%;}
.rt-gallery-6 li{width:15%;padding-left:2%;}
.rt-gallery-7 li{width:12.4%;padding-left:2.2%;}
.rt-gallery-8 li{width:11.1%;padding-left:1.6%;}
.rt-gallery-9 li{width:10.4%;padding-left:0.8%;}
.rt-gallery-10 li{width:9.1%;padding-left:1%;}
.rt-drop-wrap{position:relative;width:100%;margin-bottom:20px;}
.rt-drop-wrap > a{ width: 100%;padding-left: 0px;padding-right: 0px;display: inline-block;line-height: 1;padding: 13px 0;font-size: 13px;text-align: center;cursor: pointer;text-decoration: none;border: 1px solid transparent;border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.18);border-radius: 2px;outline: 0;white-space: nowrap;-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);background-repeat: repeat-x;background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-color: #0e7bc2;color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);font-weight:bold;}
.rt-drop-wrap ul.rt-drop-ul{display:none;position:relative; width: 100%;padding: 5px 0;margin-top: 5px;border: 1px solid #ddd;background: #ffffff;    top: 100%;z-index: 22;border-radius: 4px;    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);}
.rt-drop-wrap ul.rt-drop-ul li{position:relative;}
.rt-drop-wrap ul.rt-drop-ul li a{ display: block;line-height: 1;padding: 10px 15px;font-size: 12px;color: #777;text-align: left;text-decoration: none;}


/* media_list */
.media_list{margin:15px 0 50px 0 ; border-top:2px solid #333;}
.media_list li {position:relative; overflow:hidden; display:block; padding:10px 0; border-bottom:1px solid #e9e9e9;}
.media_list li > a{display:block;width:100%;overflow:hidden;text-align:center;}
.media_list li > a img{width:80%;}
.media_list .photo{border:1px solid #eee; background:#fff;padding:5px;}
.media_list dl{width:80%;margin:10px auto 0;text-align:left;}
.media_list dt{margin: 0 0 15px;font-size:15px; font-weight:700;}
.media_list dd{color:#666; line-height:150%; font-size:13px;}
.media_list .date{margin: 16px 0 0 0;}
.media_list a{color:#333; font-size:15px;}
.media_list a:hover{color:#7D99CF;}
.img_cont{margin:20px 0;}
