<!-- 반응형 회원 시작 -->
<div class="rt-rwd-member-wrap">
	<form name="login_form" method="post" action="{path_user}/update.php" target="rt_ifrm">
		<input type="hidden" name="mode" value="login">
		<input type="hidden" name="pcd" value="{페이지코드}">
		<!--{? prepage }-->
		<input type="hidden" name="prepage" value="{prepage}">
		<!--{/}-->
		<div class="rt-rwd-login-wrap">
			<div class="rt-rwd-login-con">
				<div class="rt-rwd-login-box">
					<input type="text" name="userid" value="{아이디}" id="userid" placeholder="아이디" msg="아이디를 입력해 주세요"/>
				</div>
				<div class="rt-rwd-login-box">
					<input type="password" name="userpw" id="userpw" placeholder="패스워드" msg="비밀번호를 입력해 주세요"/>
				</div>
				<div class="rt-rwd-login-box">
					<p>
						<label for="is_memory"><input type="checkbox" name="is_memory" id="is_memory" value="y" {아이디기억하기} /> ID 기억하기</label>
					</p>
				</div>
				<div class="rt-rwd-login-box">
					<a href="#;" class="rt-rwd-login-send" id="btn-login">로그인</a>
				</div>
				<div class="rt-rwd-login-box">
					<p class="rt-rwd-login-tac">
						<a href="{page_find}">아이디 / 패스워드 찾기</a>
						<a href="{page_join}">회원가입</a>
					</p>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- 반응형 회원 끝 -->

<script src="{path_assets}/js/rtmember.login.js" type="text/javascript"></script>
<link rel="stylesheet" href="{path_assets}/css/rt_member.css" />
<iframe name="rt_ifrm" id="rt_ifrm" style="width:100%;height:700px;display:none;"></iframe>