<ul id="s_tab" class="col-9">
	<!--{@ 제품분류}-->
	<li><a href="?c={제품분류.분류코드}" class="{제품분류.active}">{제품분류.분류명}</a></li>
	<!--{/}-->
</ul>
<div class="prodocut_wrap">
	<!--conbody-->
	<div class="rt_product_wrap">
		<!--{? 분류대표이미지명 }-->
		<img src="{분류대표이미지경로}" alt="제품소개 비주얼" class="rt_product_visual" />
		<!--{/}-->

	<!--{? 페이지구성 == 'none' }-->

		<!-- 제품소개 리스트 시작 -->
		<div class="rt_product_wrap">
			<!--{? 게시물수 > 0 }-->
			<ul class="rt_product_con rt_product_thumb_wrap">
				<!--{@ 제품리스트}-->
				<li class="rt_product_thumb_con">
					<a href="{제품리스트.상세페이지링크}" class="rt_thumb"><img src="{제품리스트.목록이미지경로}" alt="제품 썸네일" /></a>
					<p class="rt_product_subject"><a href="{제품리스트.상세페이지링크}">{제품리스트.줄임제품명}</a></p>
				</li>
				<!--{/}-->
			</ul>
			<!--{/}-->

			<!--{? 게시물수 > 0 }-->
			<ul class="rt_product_con rt_product_list_wrap blind">
				<!--{@ 제품리스트}-->
				<li class="rt_product_list_con">
					<div class="rt_thumb_wrap">
						<a href="{제품리스트.상세페이지링크}" class="rt_thumb"><img src="{제품리스트.목록이미지경로}" alt="제품 썸네일" /></a>
					</div>
					<div class="rt_product_list_box">
						<div class="rt_product_list_tit_wrap">
							<h1 class="rt_product_list_tit">{제품리스트.제품명}</h1>
						</div>
						<table class="rt_product_list_info">
							<caption>제품정보</caption>
							<colgroup>
								<col width="90px"/>
								<col width="*"/>
							</colgroup>
							<tr>
								<th><p>- {제품리스트.옵션명1}</p></th>
								<td><p>{제품리스트.옵션1}</p></td>
							</tr>
							<tr>
								<th><p>- {제품리스트.옵션명2}</p></th>
								<td><p>{제품리스트.옵션2}</p></td>
							</tr>
							<tr>
								<th><p>- {제품리스트.옵션명3}</p></th>
								<td><p>{제품리스트.옵션3}</p></td>
							</tr>
							<tr>
								<th><p>- {제품리스트.옵션명4}</p></th>
								<td><p>{제품리스트.옵션4}</p></td>
							</tr>
							<tr>
								<th><p>- {제품리스트.가상옵션명1}</p></th>
								<td><p>{제품리스트.가상옵션1}</p></td>
							</tr>
						</table>
					</div>
				</li>
				<!--{/}-->
			</ul>
			<!--{/}-->
		</div>
		<!-- 제품소개 리스트 끝 -->
	</div>

	<!--페이지네이션 STR-->
	{페이지인덱스}
	<!--페이지네이션 END-->

	<!--{/}-->

	<!--{? 페이지구성 == 'img' }-->
		<img src="{분류콘텐츠이미지}" alt="" />
	<!--{/}-->

	<!--{? 페이지구성 == 'html' }-->
		{분류페이지HTML}
	<!--{/}-->
</div>
<!-- 반응형 CSS STR-->
<link href="{path_assets}/css/rt_product.css" type="text/css" rel="stylesheet"/>
<!-- 반응형 CSS END-->

<!--//conbody-->
<script type="text/javascript">
jQuery(function($){
	$('.rt_product_nav_option_con .rt_product_nav_option_type').click(function(){
		var tmp = $(this).index();
		$(this).addClass('active').siblings().removeClass('active');
		$('.rt_product_wrap .rt_product_con').eq(tmp).show().siblings().hide();
	});
	$('.rt_product_nav_con a').click(function(){
		$(this).parent().addClass('active').siblings().removeClass('active');
	});
	$('.rt_depth1_wrap .rt_depth1').click(function(){
		$(this).parent().addClass('active').siblings().removeClass('active');
	});
})
</script>