
/* 로그인 */
h1.rt-member-title{text-align:center;font-size:36px;margin-bottom:20px;}
.rt-member-wrap{width:100%;background-color:#F7F5F8;padding:50px 0;margin-bottom:50px;}
.rt-member-wrap .rt-login-box{width:81%;margin:0 auto 20px;overflow:hidden;text-align:center;padding-bottom:50px;border-bottom:1px solid #393939;}
.rt-member-wrap .rt-login-box.rt-login-box2{margin:0 auto;border:0;}
.rt-member-wrap .rt-login-box > h1{font-size:14px;font-weight:500;}
.rt-member-wrap .rt-login-box > h3{text-align:center;font-size:36px;margin-bottom:20px;}
.rt-member-wrap .rt-login-box > h1 span{font-weight:bold;}
.rt-member-wrap .rt-login-box > ul{display:inline-block;margin-right:30px;vertical-align:top;}
.rt-member-wrap .rt-login-box .text-box{width:17%;font-size:15px;line-height:45px;font-weight:bold;margin-left:20px;margin-right:0;text-align:left;}
.rt-member-wrap .rt-login-box .text-box li{line-height:45px;}
.rt-member-wrap .rt-login-box .input-box{width:28%;}
.rt-member-wrap .rt-login-box .input-box li{line-height:45px;}
.rt-member-wrap .rt-login-box .input-box input{width:100%;vertical-align:middle;height:36px;border:1px solid #bfbfbf;padding-left:5px;box-sizing:border-box;line-height:36px;background-color:#fff;}
.rt-member-wrap .rt-login-box .button-box{width:20%;}
.rt-member-wrap .rt-login-box .button-box a{display:block;width:100%;padding:22px 0;margin-top:4px;text-align:center;line-height:40px;font-size:15px; background:#3f464e;color:#fff;}
.rt-member-wrap .rt-button-wrap,
.rt-button-wrap{text-align:center;width:100%;margin-bottom:20px;}
.rt-member-wrap .rt-button-wrap a,
.rt-button-wrap a{display:inline-block;width:19%;margin:0 10px;background:#7D99CF;color:#fff; font-size:15px; padding:10px 15px;}
.rt-member-wrap .rt-button-wrap a:hover,
.rt-button-wrap a:hover{ background:#3f464e;cursor:pointer;}
.rt-snslogin{text-align:center; margin-top:30px;}
.rt-snslogin img{ margin-bottom:5px; }
.rt-snslogin a:hover{ opacity:0.8; }

/* 아이디찾기 */
.rt-member-wrap .rt-login-box .input-box.id-input-box{width:40%;}

/* 비밀번호찾기 */
.rt-member-wrap .rt-login-box.rt-password-box{}
.rt-member-wrap .rt-login-box.rt-password-box > ul{}

/* 회원가입 */
.rt-join-wrap{font-size:15px;}
.rt-join-wrap .rt-join-container{width:100%;}
.rt-join-wrap .rt-info-required{font-size:15px;border-bottom:2px solid #393939;padding-bottom:10px;}
.rt-join-wrap .rt-info-required span{display:block;float:right;font-size:12px;}
.rt-join-wrap .rt-join-container table.rt-join{width:100%;border:0;margin-bottom:50px;}
.rt-join-wrap .rt-join-container table.rt-join tr{border-bottom:1px solid #eee;}
.rt-join-wrap .rt-join-container table.rt-join tr.rt-tr-last{border-bottom:1px solid #393939;}
.rt-join-wrap .rt-join-container table.rt-join tr th{background-color:#fdfdfd;padding:15px;text-align:left;}
.rt-join-wrap .rt-join-container table.rt-join tr td{padding:15px;}
.rt-join-wrap .rt-join-container table.rt-join tr td input.rt-join-input{border:1px solid #ddd;padding-left:5px;box-sizing:border-box;background-color:#fff;width:30%;height:28px;line-height:28px;}
.rt-join-wrap .rt-join-container table.rt-join tr td select.rt-join-select{width:20%;height:30px;border:1px solid #ddd;}
.rt-join-wrap .rt-join-container table.rt-join tr td input.rt-join-input-phone{border:1px solid #ddd;padding-left:5px;box-sizing:border-box;background-color:#fff;width:13%;height:28px;}
.rt-join-wrap .rt-join-container table.rt-join tr td select.rt-join-select-phone{width:13%;height:30px;border:1px solid #ddd;}
.rt-join-wrap .rt-join-container table.rt-join tr td a.rt-join-a{display:inline-block;width:17%;height:30px;text-align:center;line-height:30px;background-color:#565656;color:#fff;margin-left:15px;vertical-align:middle;}
.rt-join-wrap .rt-join-container table.rt-join tr td a.rt-join-a:hover{background-color:#868686;cursor:pointer;}
.rt-join-wrap .rt-join-container table.rt-join tr td span.rt-join-span{display:inline-block;margin-left:10px;font-size:12px;color:#d61d1d;}
.rt-join-wrap .rt-join-container table.rt-join tr td .rt-join-input-address{border:1px solid #ddd;padding-left:5px;box-sizing:border-box;background-color:#fff;width:45%;height:28px;line-height:28px;margin-top:6px;}
.rt-join-wrap .rt-join-container table.rt-join tr td .rt-join-a-address{width:17%;height:30px;text-align:center;line-height:30px;background-color:#565656;color:#fff;margin-left:10px;vertical-align:middle;border:0;cursor:pointer;}
.rt-join-wrap .rt-join-container table.rt-join tr td .rt-join-a-address:hover{background-color:#868686;}

/* 이용약관 */
.rt-join-wrap .rt-join-container .rt-agree-wrap{padding:4px 0;border-bottom:1px solid #d5d5d5;height:230px;margin-bottom:20px;}
.rt-join-wrap .rt-join-container .rt-agree-box{width:100%;height:100%;color:#777;line-height:160%;padding:0;border:0;}
.rt-join-wrap .rt-join-container .rt-agree-check{margin-bottom:30px;text-align:right;}
.rt-join-wrap .rt-join-container .rt-agree-check input{float:none;width:18px;height:18px; border: 1px solid rgb(200, 199, 199); background: 0px 0px rgb(255, 255, 255);}
.rt-join-wrap .rt-join-container .rt-agree-check span{font-size:14px;}
.rt-join-wrap .rt-join-container .rt-all-agree{text-align:center;font-size:15px;margin-bottom:30px;}
.rt-join-wrap .rt-join-container .rt-all-agree input{float:none;width:18px;height:18px; border: 1px solid rgb(200, 199, 199); background: 0px 0px rgb(255, 255, 255);}

/* 반응형 회원 */
.rt-rwd-member-wrap{width:100%;font-family: 'Noto Sans KR';}
.rt-rwd-member-wrap *{box-sizing:border-box;line-height:1;}
.clearfix:after{display:block;clear:both;content:"";}

/* 로그인 */
.rt-rwd-login-wrap{border-top:3px solid #666;border-bottom:2px solid #ddd;background-color:#f3f3f3;margin-bottom:30px;padding:30px 10px 50px 10px;}
.rt-rwd-login-title{text-align:center;font-size:20px;color:#666;font-weight:600;padding-bottom:30px;}
.rt-rwd-login-box{width:400px;margin:0 auto 10px;}
.rt-rwd-login-box input[type="text"],
.rt-rwd-login-box input[type="password"]{width:100%;height:40px;line-height:40px;padding:0 5px;font-size:13px !important;background-color:#fafafa;border:1px solid #ddd;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;font-family: inherit; font-size: inherit;}
.rt-rwd-login-box .rt-rwd-login-send{display:block;text-align:center;height:40px;line-height:40px;font-size:13px;color:#fff;background:#7d99cf;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.rt-rwd-login-box .rt-rwd-login-send:hover{background:#3f464e;}
.rt-rwd-login-box p{font-size:14px;font-weight:400;color:#767676;line-height:20px;}
.rt-rwd-login-box .rt-rwd-login-tac{font-size:0;text-align:center;padding:3px 0;}
.rt-rwd-login-box .rt-rwd-login-tac a{font-size:14px;font-weight:400;color:#767676;line-height:14px;display:inline-block;padding:0 3px;border-right:1px solid #ddd;}
.rt-rwd-login-box .rt-rwd-login-tac a:last-child{border-right:0;}
.rt-rwd-login-box label input{vertical-align:middle;float:none;margin:2px 5px 0 0}
.rt-rwd-login-box p{height:30px;line-height:30px;color:#767676;font-size:14px;font-size:400;letter-spacing:-0.5px;}
.rt-rwd-login-box p .rt-form-bold{font-weight:700;}
.rt-rwd-login-box p .rt-form-reflash{display:inline-block;padding:0 10px;height:30px;line-height:30px;font-size:14px;color:#fff;background-color:#565656;font-weight:400;vertical-align:middle;margin-left:5px;}
/* SNS 로그인 */
.rt-snslogin{font-size:0;text-align:center;}
.rt-snslogin a{display:inline-block;padding:0 2px;}
.rt-snslogin a img{width:100%;}

/* 회원가입 */
.rt-rwd-join-form-area{border-top:3px solid #666;border-bottom:2px solid #ddd;margin-bottom:30px;padding:10px 0 0 0;}
.rt-rwd-join-form-con{padding:12px 0 12px 150px;position:relative;border-bottom:1px dashed #e0e0e0;}
.rt-rwd-join-form-con:last-child{border-bottom:0;}
.rt-rwd-join-form-title{width:150px;height:100%;position:absolute;left:0;top:0;}
.rt-rwd-join-form-title h1{width:100%;position:absolute;left:0;top:50%;margin-top:-10px;font-size:14px;font-weight:500;color:#375c75;line-height:20px;padding-left:5px;}
.rt-rwd-join-form-box{float:left;padding:0 10px;}
.rt-rwd-join-form-box.rt-full-box{width:100%;}
.rt-rwd-join-form-box.rt-310px-box{width:310px;}
.rt-rwd-join-form-box.rt-33-box{width:33.33%;max-width:204px}
.rt-rwd-join-form-box.rt-32-box{width:32%;max-width:200px}
.rt-rwd-join-form-box.rt-4-box{width:4%;padding:0;max-width:12px}
.rt-rwd-join-form-box-mb30{margin-bottom:30px;}
.rt-rwd-join-form-box p{line-height:20px;padding:5px 0;color:#767676;font-size:14px;font-size:400;letter-spacing:-0.5px;}
.rt-rwd-join-form-box p.rt-join-form-tac{text-align:center;}
.rt-rwd-join-form-box p.rt-join-form-tar{text-align:right;}
.rt-rwd-join-form-box p .rt-join-form-bold{font-weight:700;}
.rt-rwd-join-form-box p .rt-join-form-reflash{display:inline-block;padding:0 10px;height:30px;line-height:30px;font-size:14px;color:#fff;background-color:#565656;font-weight:400;vertical-align:middle;margin-left:5px;}
.rt-rwd-star{vertical-align:middle;}
.rt-rwd-join-form-box select,
.rt-rwd-join-form-box input[type="password"],
.rt-rwd-join-form-box input[type="text"]{width:100%;height:30px;line-height:30px;padding:0 0 0 3px;font-size:13px !important;background-color:#f3f3f3;border:1px solid #ddd;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;font-family: inherit; font-size: inherit;}
.rt-rwd-join-form-box textarea{width:100%;height:250px;line-height:150%;padding:10px 3px;font-size:13px !important;background-color:#fff;border:1px solid #ddd;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;font-family: inherit; font-size: inherit;}
.rt-rwd-join-form-box label{margin-right:5px;display:inline-block;}
.rt-rwd-join-form-box label input{vertical-align:middle;float:none;margin:2px 5px 0 0}
.rt-rwd-join-form-box label span{vertical-align:middle;}
.rt-rwd-join-form-box .rt-rwd-id-check-button{display:inline-block;padding:0 10px;height:30px;line-height:30px;font-size:14px;color:#fff;background-color:#565656;font-weight:400;vertical-align:middle;}
.rt-rwd-join-form-box .rt-rwd-id-check-button-hide{display:none;}
.rt-rwd-join-form-box .w166{width:165px !important;}
.rt-rwd-join-form-box .mr20{margin-right:20px !important;}
/* 회원 폼 약관 동의 */
.rt-rwd-join-form-agree-title{width:100%;line-height:30px;border-bottom:2px solid #393939;font-size:14px;color:#595959;font-weight:600;margin-bottom:10px;}
.rt-rwd-join-form-agree-title.rt-rwd-join-form-agree-title-bdn{border-bottom:0;}
.rt-rwd-join-form-agree-title .rt-rwd-join-flr{float:right;display:block;padding-right:10px;}
.rt-rwd-join-form-agree-box{margin-bottom:10px;}
.rt-rwd-join-form-agree{width:100%;height:250px;line-height:150%;padding:10px 3px;font-size:13px;background-color:#fff;border:1px solid #ddd;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;overflow-y:scroll;}
.rt-rwd-join-form-agree-label{font-size:0;text-align:right;margin-bottom:30px;}
.rt-rwd-join-form-agree-label input{float: none;width:18px;height:18px;border:1px solid rgb(200, 199, 199);background:0px 0px rgb(255, 255, 255);margin:2px 3px 0 0;}
.rt-rwd-join-form-agree-label span{font-size:14px;font-weight:400;color:#767676;vertical-align:middle;}
/* 회원 가입 완료 */
.rt-rwd-join-result-wrap{border-top:3px solid #666;border-bottom:2px solid #ddd;background-color:#f3f3f3;margin-bottom:30px;padding:30px 10px 50px 10px;}
.rt-rwd-join-result-title{text-align:center;color:#333;font-size:24px;margin-bottom:10px;}
.rt-rwd-join-result-substance{text-align:center;font-size:18px;color:#767676;line-height:160%;}
.rt-rwd-join-result-substance .rt-red-join-bold{font-weight:600;}

/* 마이피이지, 정보수정 */
.rt-rwd-mypage-area{border-top:3px solid #666;border-bottom:2px solid #ddd;margin-bottom:30px;padding:10px 0 0 0;}
.rt-rwd-mypage-con{padding:12px 0 12px 150px;position:relative;border-bottom:1px dashed #e0e0e0;}
.rt-rwd-mypage-con:last-child{border-bottom:0;}
.rt-rwd-mypage-title{width:150px;height:100%;position:absolute;left:0;top:0;}
.rt-rwd-mypage-title h1{width:100%;position:absolute;left:0;top:50%;margin-top:-10px;font-size:14px;font-weight:500;color:#375c75;line-height:20px;padding-left:5px;}
.rt-rwd-mypage-box{float:left;padding:0 10px;}
.rt-rwd-mypage-box.rt-full-box{width:100%;}
.rt-rwd-mypage-box.rt-310px-box{width:310px;}
.rt-rwd-mypage-box.rt-33-box{width:33.33%;max-width:204px}
.rt-rwd-mypage-box.rt-32-box{width:32%;max-width:200px}
.rt-rwd-mypage-box.rt-4-box{width:4%;padding:0;max-width:12px}
.rt-rwd-mypage-box-mb30{margin-bottom:30px;}
.rt-rwd-mypage-box p{height:30px;line-height:30px;color:#767676;font-size:14px;font-size:400;letter-spacing:-0.5px;}
.rt-rwd-mypage-box p.rt-mypage-tac{text-align:center;}
.rt-rwd-mypage-box p.rt-mypage-tar{text-align:right;}
.rt-rwd-mypage-box p .rt-mypage-bold{font-weight:700;}
.rt-rwd-mypage-box p .rt-mypage-reflash{display:inline-block;padding:0 10px;height:30px;line-height:30px;font-size:14px;color:#fff;background-color:#565656;font-weight:400;vertical-align:middle;margin-left:5px;}
.rt-rwd-mypage-box select,
.rt-rwd-mypage-box input[type="password"],
.rt-rwd-mypage-box input[type="text"]{width:100%;height:30px;line-height:30px;padding:0 0 0 3px;font-size:13px !important;background-color:#f3f3f3;border:1px solid #ddd;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;font-family: inherit; font-size: inherit;}
.rt-rwd-mypage-box textarea{width:100%;height:250px;line-height:150%;padding:10px 3px;font-size:13px !important;background-color:#fff;border:1px solid #ddd;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;font-family: inherit; font-size: inherit;}
.rt-rwd-mypage-box label{margin-right:5px;}
.rt-rwd-mypage-box label input{vertical-align:middle;float:none;margin:2px 5px 0 0}

/* 버튼 */
.rt-button{margin-bottom:50px;font-size:0;}
.rt-button.rt-button-tal{text-align:left;}
.rt-button.rt-button-tac{text-align:center;}
.rt-button.rt-button-tar{text-align:right;}
.rt-button a{display:inline-block; text-align:center;color:#fff;letter-spacing:1px; background:#7d99cf;padding:10px 30px; font-size:15px;}
.rt-button.rt-button-tal a{margin-right:2px;}
.rt-button.rt-button-tac a{margin:0 5px;}
.rt-button.rt-button-tar a{margin-left:2px;}
.rt-button a:hover{background:#3f464e;}

/* STR 1170 */
@media all and (max-width:1000px){
}
/* END 1170*/

/* STR 768 */
@media all and (max-width:768px){
	.rt-rwd-login-box{width:100%;}
	.rt-snslogin a{width:33.33%;}
	.rt-snslogin a img{width:100%;}
	.rt-rwd-join-form-box.rt-rwd-768-full-box{width:100%;margin-bottom:5px;}
}
/* END 768*/

/* STR 486 */
@media all and (max-width:486px){
	.rt-rwd-join-form-con{padding-left:0;padding-top:35px;}
	.rt-rwd-join-form-con.rt-rwd-non-title{padding-top:10px;}
	.rt-rwd-join-form-title{height:30px;}
	.rt-rwd-join-form-title h1{padding-left:5px;}
	.rt-rwd-join-form-box.rt-px-box{width:100%;}
	.rt-rwd-mypage-con{padding-left:0;padding-top:35px;}
	.rt-rwd-mypage-con.rt-rwd-non-title{padding-top:10px;}
	.rt-rwd-mypage-title{height:30px;}
	.rt-rwd-mypage-title h1{padding-left:5px;}
	.rt-rwd-mypage-box.rt-px-box{width:100%;}
	.rt-snslogin a{width:100%;text-align:center;display:block;}
	.rt-snslogin a img{width:60%;margin-bottom:5px;}
}
/* END 486/