/* 제품소개 메뉴 */
.rt_product_menu_wrap .rt_product_tit{padding:40px 0 25px 15px;background-color:#00aeef;margin-bottom:10px;}
.rt_product_menu_wrap .rt_product_tit h1{color:#fff;font-size:26px;line-height:30px;font-weight:500;}
.rt_product_menu_wrap .rt_product_menu_con{border:1px solid #d9d9d9;border-bottom:0;}
.rt_product_menu_con .rt_depth1_wrap{border-bottom:1px solid #d9d9d9;}
.rt_product_menu_con .rt_depth1{display:block;padding:0 20px 0 30px;}
.rt_product_menu_con .rt_depth1 .rt_depth1_txt{display:block;color:#333;font-size:18px;font-weight:500;line-height:24px;padding:11px 0;background:url('../images/product/product_arrow_down.png') right center no-repeat;}
.rt_product_menu_con .rt_depth1_wrap.active .rt_depth1_txt,
.rt_product_menu_con .rt_depth1_wrap:hover .rt_depth1_txt{background:url('../images/product/product_arrow_up.png') right center no-repeat;font-weight:600;letter-spacing:-0.4px}
.rt_product_menu_con .rt_depth2_wrap{display:none;border-top:1px solid #d9d9d9;padding:10px 0 10px 20px;}
.rt_product_menu_con .rt_depth1_wrap.active .rt_depth2_wrap{display:block;}
.rt_product_menu_con .rt_depth2_con{line-height:26px;}
.rt_product_menu_con .rt_depth2{color:#888;font-size:14px;font-weight:500;}
/* 제품소개 콘텐츠 */
.rt_product_wrap{margin-bottom:50px;}
.rt_product_wrap .rt_product_visual{max-width:100% !important;height:auto !important;margin-bottom:13px;}
/* 제품소개 페이저 */
.rt_product_pager_wrap{border-top:2px solid #2e2d2c;background-color:#f4f4f4;border-bottom:1px solid #ddd;padding:12px 0 15px 6px;margin-bottom:24px;}
.rt_product_pager_con{position:relative;padding-left:64px;}
.rt_product_pager_tit{position:absolute;left:0;top:0;width:64px;height:100%;background-color:#ff9000;}
.rt_product_pager_tit h1{position:absolute;left:0;top:50%;width:100%;text-align:center;color:#fff;font-size:13px;line-height:20px;margin-top:-10px;font-weight:500;}
.rt_product_pager_box{padding-left:12px;}
.rt_product_pager_box:after{display:block;clear:both;content:"";}
.rt_product_pager_box .rt_depth1_wrap{float:left;padding-right:10px;font-size:0;box-sizing:border-box;margin:4px 0;}
.rt_product_pager_box.rt_product_pager_box1 .rt_depth1_wrap{width:100%;clear:left;}
.rt_product_pager_box.rt_product_pager_box2 .rt_depth1_wrap{width:50%;}
.rt_product_pager_box.rt_product_pager_box2 .rt_depth1_wrap:nth-child(2n+1){clear:left;}
.rt_product_pager_box.rt_product_pager_box3 .rt_depth1_wrap{width:33.33%;}
.rt_product_pager_box.rt_product_pager_box3 .rt_depth1_wrap:nth-child(3n+1){clear:left;}
.rt_product_pager_box.rt_product_pager_box4 .rt_depth1_wrap{width:25%;}
.rt_product_pager_box.rt_product_pager_box4 .rt_depth1_wrap:nth-child(4n+1){clear:left;}
.rt_product_pager_box.rt_product_pager_box5 .rt_depth1_wrap{width:20%;}
.rt_product_pager_box.rt_product_pager_box5 .rt_depth1_wrap:nth-child(5n+1){clear:left;}
.rt_product_pager_box.rt_product_pager_box6 .rt_depth1_wrap{width:16.66%;}
.rt_product_pager_box.rt_product_pager_box6 .rt_depth1_wrap:nth-child(6n+1){clear:left;}
.rt_product_pager_box.rt_product_pager_box7 .rt_depth1_wrap{width:14.285%;}
.rt_product_pager_box.rt_product_pager_box7 .rt_depth1_wrap:nth-child(7n+1){clear:left;}
.rt_product_pager_box.rt_product_pager_box8 .rt_depth1_wrap{width:12.5%;}
.rt_product_pager_box.rt_product_pager_box8 .rt_depth1_wrap:nth-child(8n+1){clear:left;}
.rt_product_pager_box.rt_product_pager_box9 .rt_depth1_wrap{width:11.11%;}
.rt_product_pager_box.rt_product_pager_box9 .rt_depth1_wrap:nth-child(9n+1){clear:left;}
.rt_product_pager_box.rt_product_pager_box10 .rt_depth1_wrap{width:10%;}
.rt_product_pager_box.rt_product_pager_box10 .rt_depth1_wrap:nth-child(10n+1){clear:left;}
.rt_product_pager_box .rt_depth1{display:inline-block;position:relative;color:#79726e;font-size:14px;line-height:20px;padding-left:10px;letter-spacing:-1px;transition:.5s}
.rt_product_pager_box .rt_depth1_wrap.active .rt_depth1,
.rt_product_pager_box .rt_depth1:hover{color:#0e7dde;}
.rt_product_pager_box .rt_depth1 span{position:absolute;left:0;top:0;line-height:20px;font-size:14px;}
/* 제품소개 네비 */
.rt_product_nav_wrap{border-bottom:2px solid #868383;position:relative;background-color:#fafafa;margin-bottom:24px;}
.rt_product_nav_wrap:after{display:block;clear:both;content:"";}
.rt_product_nav_wrap .rt_border{position:absolute;left:0;top:0;width:100%;height:100%;border:1px solid #d4d4d4;z-index:10;}
.rt_product_nav_con{overflow:hidden;float:left;padding-left:15px;}
.rt_product_nav_con:after{display:block;clear:both;content:"";}
.rt_product_nav_box{float:left;position:relative;z-index:20;}
.rt_product_nav{display:block;padding:10px 20px;font-family:'dotum';color:#999;font-size:11px;text-align:center;line-height:13px;border:1px solid #d4d4d4;border-left:0;font-weight:400;}
.rt_product_nav_box:first-child .rt_product_nav{border-left:1px solid #d4d4d4;}
.rt_product_nav_box:hover .rt_product_nav,
.rt_product_nav_box.active .rt_product_nav{background-color:#333;border-color:#333;color:#fff;font-weight:bold;letter-spacing:-1px}
.rt_product_nav_option_wrap{float:right;position:relative;z-index:20;}
.rt_product_nav_option_wrap:after{display:block;clear:both;content:"";font-size:0;}
.rt_product_nav_option_con{float:left;line-height:33px;}
.rt_product_search_result{color:#b5b5b5;font-size:11px;font-weight:400;font-family:'dotum';line-height:35px;}
.rt_product_search_result .rt_red{color:#fe434c;text-decoration:underline;}
.rt_product_nav_option_type{display:inline-block;padding-left:20px;color:#646464;font-size:12px;font-weight:bold;font-family:'dotum';line-height:14px;transition:.8s;margin-left:10px;}
.rt_product_nav_option_type.active,
.rt_product_nav_option_type:hover{color:#0e7dde;}
.rt_product_nav_option_type.rt_product_type_img{background:url('../images/product/product_type_img.png') 0 center no-repeat;}
.rt_product_nav_option_type.rt_product_type_img.active,
.rt_product_nav_option_type.rt_product_type_img:hover{background:url('../images/product/product_type_img_active.png') 0 center no-repeat;}
.rt_product_nav_option_type.rt_product_type_list{background:url('../images/product/product_type_list.png') 0 center no-repeat;}
.rt_product_nav_option_type.rt_product_type_list.active,
.rt_product_nav_option_type.rt_product_type_list:hover{background:url('../images/product/product_type_list_active.png') 0 center no-repeat;}
/* 제품 리스트 */
.rt_product_con.blind{display:none;}
.rt_product_thumb_wrap{font-size:0;margin:0 -5px;}
.rt_product_thumb_wrap .rt_product_thumb_con{display:inline-block;width:25%;padding:0 5px;box-sizing:border-box;vertical-align:text-top;margin-bottom:20px;}
.rt_product_thumb_con .rt_thumb{display:block;margin-bottom:20px;text-align:center;}
.rt_product_thumb_con .rt_thumb img{max-width:100%;max-height:100%;}
.rt_product_thumb_con:hover .rt_thumb img{opacity:0.7;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter: alpha(opacity=70);-moz-opacity: 0.7;-khtml-opacity: 0.7;}
.rt_product_thumb_con .rt_product_subject{text-align:center;padding-bottom:15px;border-bottom:1px solid #ccc;}
.rt_product_thumb_con .rt_product_subject a{color:#888;font-size:16px;font-weight:400;line-height:1.33;}
.rt_product_thumb_con .rt_product_price{text-align:center;color:#000;font-size:16px;font-weight:400;border-bottom:1px solid #ccc;line-height:40px;}
.rt_product_list_con{background:url('../images/product/product_list_line.png') 0 bottom repeat-x;padding-bottom:24px;margin-bottom:20px;}
.rt_product_list_con:after{display:block;clear:both;content:"";}
.rt_product_list_con .rt_thumb_wrap{float:left;width:35%;padding-right:25px;box-sizing:border-box;}
.rt_product_list_con .rt_thumb_wrap .rt_thumb{display:block;}
.rt_product_list_con .rt_thumb_wrap .rt_thumb img{width:100%;height:auto;}
.rt_product_list_con:hover .rt_thumb_wrap .rt_thumb img{opacity:0.7;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter: alpha(opacity=70);-moz-opacity: 0.7;-khtml-opacity: 0.7;}
.rt_product_list_box{float:left;width:65%;}
.rt_product_list_tit_wrap{padding:6px 5px 8px 7px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.rt_product_list_tit_wrap:after{display:block;clear:both;content:"";}
.rt_product_list_tit_wrap .rt_product_list_tit{float:left;color:#0e7dde;font-size:18px;font-weight:400;line-height:26px;}
.rt_product_list_tit_wrap .rt_product_list_more{float:right;}
.rt_product_list_info_wrap{min-height:190px;}
.rt_product_list_info{width:100%;}
.rt_product_list_info tr th{vertical-align:text-top;text-align:left;padding-left:10px;}
.rt_product_list_info tr th p{color:#333;font-size:15px;font-weight:500;line-height:24px;letter-spacing:-0.5px}
.rt_product_list_info tr td{vertical-align:text-top;}
.rt_product_list_info tr td p{color:#000;font-size:15px;font-weight:400;line-height:24px;letter-spacing:-0.5px;}
.rt_product_list_info tr td p.rt_blue{color:#0e7dde;}
/* 제품소개 뷰 */
.rt_product_view_info_wrap{position:relative;background:url('../images/product/product_list_line.png') 0 bottom repeat-x;padding-bottom:24px;margin-bottom:20px;}
.rt_product_view_info_wrap:after{display:block;clear:both;content:"";}
.rt_product_view_thumb_wrap{float:left;width:49%;box-sizing:border-box;padding-right:25px;}
.rt_product_view_thumb{display:block;height:428px;line-height:428px;text-align:center;}
.rt_product_view_thumb img{max-width:100%;max-height:100%;}
.rt_product_view_info_con{float:left;width:51%;box-sizing:border-box;padding-bottom:135px;}
.rt_product_view_info_pager{position:absolute;right:0;bottom:24px;width:51%;text-align:center;font-size:0;}
.rt_product_view_wrap2 .rt_product_view_info_pager{position:relative;bottom:0;width:100%;margin-top:50px;}
.rt_product_view_info_pager:after{display:block;clear:both;content:"";}
.rt_product_view_info_pager a{display:inline-block;line-height:29px;box-sizing:border-box;transition:0.8s;}
.rt_product_view_info_pager a.rt_product_view_prev{float:left;width:107px;height:29px;padding-left:23px;background-color:#b5b5b5;}
.rt_product_view_info_pager a.rt_product_view_prev:hover{background-color:#666;}
.rt_product_view_info_pager a.rt_product_view_list_go{width:128px;height:29px;text-align:center;color:#fff;font-size:13px;font-family:'dotum';font-weight:bold;background-color:#666;}
.rt_product_view_info_pager a.rt_product_view_list_go:hover{background-color:#0e7dde;}
.rt_product_view_info_pager a.rt_product_view_next{float:right;width:107px;height:29px;padding-right:23px;background-color:#b5b5b5;}
.rt_product_view_info_pager a.rt_product_view_next:hover{background-color:#666;}
.rt_product_view_info_pager a span{display:block;color:#fff;font-size:13px;font-family:'dotum';font-weight:bold;}
.rt_product_view_info_pager a.rt_product_view_prev span{text-align:right;background:url('../images/product/product_view_prev.png') 0 center no-repeat;padding-right:38px;}
.rt_product_view_info_pager a.rt_product_view_list_go span{text-align:center;}
.rt_product_view_info_pager a.rt_product_view_next span{text-align:left;background:url('../images/product/product_view_next.png') right center no-repeat;padding-left:38px;}
.rt_product_view_info_tit{background-color:#0e7dde;text-align:center;color:#fff;font-size:18px;font-weight:400;line-height:22px;padding:10px 0;margin-bottom:5px;}
.rt_product_info_thumb_wrap{position:absolute;bottom:60px;right:0;width:51%;}
.rt_product_info_thumb_con{margin:0 -3px;}
.rt_product_info_thumb_wrap a{display:block;float:left;width:25%;padding:0 3px;box-sizing:border-box;}
.rt_product_info_thumb_wrap a img{width:100%;height:92px;}
.rt_product_view_pager_wrap{margin-bottom:30px;}
.rt_product_view_pager_wrap:after{display:block;clear:both;content:"";}
.rt_product_view_pager_wrap a{display:block;float:left;width:25%;color:#000;text-align:center;font-size:15px;font-weight:400;border:1px solid #dadada;border-left:0;height:40px;line-height:40px;box-sizing:border-box;transition:.8s;}
.rt_product_view_pager_wrap a:first-child{border:1px solid #dadada;}
.rt_product_view_pager_wrap a.active,
.rt_product_view_pager_wrap a:hover{background-color:#2f2f2f;color:#fff;}
.rt_produc_view_substance.blind{display:none;}
.rt_produc_view_substance img{display:block;max-width:100%;margin:0 auto;}
.rt_produc_view_substance p{line-height:160%;}

/* 페이지네이션 */
.rt-page-index{text-align:center;margin:30px 0;}
.rt-page-index a{display:inline-block;width:30px;height:28px;line-height:28px;font-size:15px;background-color:#cecece;color:#fff;border:1px solid #cecece;font-family:'dotum';}
.rt-page-index a:hover,
.rt-page-index a:focus,
.rt-page-index a.on{background-color:#393939;border:1px solid #393939;}
.rt-page-index a.prev,
.rt-page-index a.next{border:1px solid #ccc;background-color:#fff;color:#393939;font-size:16px;letter-spacing:-2.5px;}
.rt-page-index a.prev:hover,
.rt-page-index a.next:hover{background-color:#f3f3f3;}

.rt_product_img_wrap {text-align: center; font-size: 0; margin: 0 -10px -15px;}
.rt_product_img_wrap .rt_product_img_box {display: inline-block; vertical-align: top; width: calc(25% - 20px); margin: 0 10px 15px; padding: 10px; border: 1px solid #ddd;}
.rt_product_img_wrap .rt_product_img {}
.rt_product_img_wrap .rt_product_txt {margin: 10px 0 0;}
.rt_product_img_wrap .rt_product_txt span{display: inline-block;padding: 5px 15px; font-size: 14px; background-color: #ccc;}

.rt_product_table_wrap {margin: 30px 0;}
.rt_product_table_wrap table {width: 100%;}
.rt_product_table_wrap table th,
.rt_product_table_wrap table td {padding: 12px 5px; text-align: center; vertical-align: middle; font-size: 13px; line-height: 1.33; font-weight: 300; border-bottom: 1px solid #ddd; border-left: 1px solid #ddd;}
.rt_product_table_wrap table th:first-child,
.rt_product_table_wrap table td:first-child {border-left: none;}
.rt_product_table_wrap table th {background-color: #555;  color: #fff; font-weight: 400;}

@media all and (max-width:1024px){
	.rt_product_table_wrap {overflow-x:auto;}
	.rt_product_table_wrap table {width: 1024px;}
	rt_product_img_wrap  {margin: 0 -5px -15px;}
	.rt_product_img_wrap .rt_product_img_box {width: calc(33.33% - 10px); margin: 0 5px 15px;}
}
@media all and (max-width:768px){
	
	.rt_product_thumb_wrap .rt_product_thumb_con {width: 50%;}
	.rt_product_thumb_con .rt_product_subject a {font-size: 14px;}

	.rt_product_img_wrap  {max-width: 350px;margin: 0 auto;}
	.rt_product_img_wrap .rt_product_img_box {display: block; width: 100%; margin: 0 0 15px;}
	.rt_product_img_wrap .rt_product_txt span {font-size: 13px;}

	.rt_product_table_wrap table {width: 900px;}
	.rt_product_table_wrap table th,
	.rt_product_table_wrap table td {font-size: 12px;}
}